
.footer{
    display: flex;
    background-color: gray;
    margin-top: 2%;
}

.footerItems{
    flex: 1;
    border: 2px solid green;
    margin: 5% 5%;
}

#copyright{
    padding: 25% 5%;
}

@media screen and (max-width: 530px){
    .footer {
        display: grid;
        width: 100vw;
    }

    .footerItems{
        display: grid;
        width: 100vw;
    }

}
